
.vector{
    width: 1000px;
    height: 740px;
    clip-path: circle(67.7% at 75% 32%);
    margin-left: 600px;
    margin-top: -10px;
    position: relative;
}

h1{
    color: #213F7A;
    margin: 0px;
    margin-top: -505px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: #213F7A;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
    margin-top: 30px;
    
}
button{
    background-color: #213F7A;
    border-radius: 30px;
    margin-left: 69px;
    border: none;
    width: 180px;
    height: 45px;
    margin-top: 30px;
}
button:hover{
    background-color: white;
    border: 1px solid #213F7A;
    color: #213F7A;

}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #213F7A;
}
.a2{
    color: #213F7A;
    text-decoration: none;
}
.vector{
    position: relative;

}
.button2{
    position: absolute;
    margin: 0px;
    margin-left: 650px;
    margin-top: -263px;
    background-color: white;
}
nav .menu .menu_items ul li:hover{
    text-decoration: overline #213F7A;
   
}